::ng-deep .p-dialog .p-dialog-content {
  background-color: white !important;
  color: black !important;
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: white !important;
  color: black !important;
}
