<div class="flex h-screen">
  <app-sidemenu />
  
  <app-sidebar class="pt-6"/>
  <div class="flex-1 flex flex-col gap-4 p-6 bg-white">
   
    <h1 class="text-black text-2xl font-semibold">Inbox</h1>

    <input
  type="text"
  placeholder="+ Add task to Inbox"
  pInputText
  [(ngModel)]="taskText"
  (keyup.enter)="addTask()"
  class="w-full !bg-gray-100 !text-black"
/>


    <div *ngIf="message" class="text-green-600 font-medium">
      {{ message }}
    </div>

    <app-task-menu
      #menu
      (pinTask)="pinTask()"
      (deleteTask)="deleteSelectedTask()"
      (setPriority)="setPriority($event)"
      (addSubtask)="addSubtaskInput(selectedTask)"
      (copyLink)="copyTaskLink()"
      (convertToNote)="convertTaskToNote()"
      (convertToTask)="convertNoteToTask()"
      (openTags)="showTagsDialog()"
      (setDueDate)="setDueDate($event)"
    ></app-task-menu>

    <app-tags [display]="showTags" (tagsSelected)="updateTaskTags($event)"></app-tags>

<ul *ngIf="!hasPinned" class="mt-2 text-black">
  <ng-container
    *ngTemplateOutlet="recursiveSubtasks; context: { $implicit: activeTasks, parent: null }"
  ></ng-container>
</ul>

<div *ngIf="hasPinned" class="flex flex-col gap-6 mt-6">

  <div *ngIf="pinnedTasks.length > 0">
    <h2 class="text-lg font-semibold flex items-center gap-2 text-black">
      <i class="pi pi-thumbtack text-red-500"></i> Pinned Tasks
    </h2>
    <ul class="mt-2">
      <li
        *ngFor="let task of pinnedTasks"
        class="p-2 border-b border-gray-200 text-gray-800 flex items-center gap-2"
        (contextmenu)="onRightClick($event, menu['cm'], task, menu)"
      >
        <p-checkbox
          [(ngModel)]="task.completed"
          (onChange)="completeTask(task)"
          [binary]="true"
        ></p-checkbox>

        <span [class.line-through]="task.completed">
          {{ task.text }}
        </span>

        <span *ngIf="task.dueDate" class="ml-auto text-sm text-gray-500">
          {{ task.dueDate }}
        </span>
      </li>
    </ul>
  </div>

  <div *ngIf="unpinnedTasks.length > 0">
    <h2 class="text-lg font-semibold flex items-center gap-2 text-black">
      <i class="pi pi-folder-open text-blue-500"></i> Unpinned Tasks
    </h2>
    <ul class="mt-2">
      <li
        *ngFor="let task of unpinnedTasks"
        class="p-2 border-b border-gray-200 text-gray-800 flex items-center gap-2"
        (contextmenu)="onRightClick($event, menu['cm'], task, menu)"
      >
        <p-checkbox
          [(ngModel)]="task.completed"
          (onChange)="completeTask(task)"
          [binary]="true"
        ></p-checkbox>

        <span [class.line-through]="task.completed">
          {{ task.text }}
        </span>

        <span *ngIf="task.dueDate" class="ml-auto text-sm text-gray-500">
          {{ task.dueDate }}
        </span>
      </li>
    </ul>
  </div>
</div>

    <h2 class="text-xl font-semibold mt-6">Notes</h2>
    <ul class="mt-2 text-black">
      <li
        *ngFor="let note of notes"
        class="p-2 border-b border-gray-200 text-gray-700"
        (contextmenu)="onRightClick($event, menu['cm'], note, menu)"
      >
         <i class="pi pi-file text-green-600"></i> {{ note.text }}
      </li>
    </ul>
  </div>
</div>

<ng-template #recursiveSubtasks let-taskList let-parent="parent">
  <li
    *ngFor="let task of taskList"
    class="flex flex-col gap-1 p-2 border-b border-gray-200"
    (contextmenu)="onRightClick($event, menu['cm'], task, menu)"
  >
    <div class="flex items-center gap-2">
      <p-checkbox
        (onChange)="completeTask(task, parent)"
        [binary]="true"
      ></p-checkbox>
      <span
        [class.text-red-500]="task.priority === 'high'"
        [class.text-yellow-500]="task.priority === 'medium'"
        [class.text-blue-500]="task.priority === 'low'"
        [class.text-black]="task.priority === 'none'"
      >
        {{ task.text }}
      </span>

      <span *ngIf="task.dueDate" class="ml-auto text-sm text-gray-500">
        {{ task.dueDate }}
      </span>
    </div>

    <div class="flex gap-1">
      <span
        *ngFor="let tag of task.tags"
        class="px-2 py-0.5 text-xs bg-gray-200 text-gray-800 rounded-full"
      >
        {{ tag }}
      </span>
    </div>

    <div *ngIf="task.showSubtaskInput" class="flex gap-2 mt-1">
      <input
        type="text"
        pInputText
        placeholder="+ Add subtask"
        #subtaskInput
        class="w-full bg-white text-black p-1 border border-gray-300 rounded"
        (keyup.enter)="addSubtask(task, subtaskInput.value); subtaskInput.value = ''"
      />
    </div>

    <ul *ngIf="task.subtasks?.length" class="ml-6 mt-1">
      <ng-container
        *ngTemplateOutlet="recursiveSubtasks; context: { $implicit: task.subtasks, parent: task }"
      ></ng-container>
    </ul>
  </li>
</ng-template>
