<div class="flex">
  <app-sidebar /> 
  <h1 class="!text-black text-3xl font-semibold">Inbox</h1>
</div>

<div class="flex">
  <app-sidemenu/>
  <div class="flex flex-col gap-2 p-4 !bg-white w-full">
    <input
      type="text"
      placeholder="+ Add task to Inbox"
      pInputText
      [(ngModel)]="taskText"
      (keyup.enter)="addTask()"
      class="!bg-white !text-black w-full"
    />

    @if (message) {
      <div class="text-green-600 font-medium">
        {{ message }}
      </div>
    }

    <app-task-menu 
      #menu 
      (deleteTask)="deleteSelectedTask()"
      (setPriority)="setPriority($event)">
    </app-task-menu>

    <ul class="mt-4 !text-black">
      <li *ngFor="let task of tasks"
          class="flex items-center gap-2 p-2 border-b border-gray-200"
          (contextmenu)="onRightClick($event, menu['cm'], task)">
          
        <p-checkbox 
          (onChange)="completeTask(task)"
          [binary]="true">
        </p-checkbox>

        <span
  [class.text-red-500]="task.priority === 'high'"
  [class.text-yellow-500]="task.priority === 'medium'"
  [class.text-blue-500]="task.priority === 'low'"
  [class.text-black]="task.priority === 'none'">
  {{ task.text }}
</span>

      </li>
    </ul>

  </div>
</div>
