::ng-deep .p-checkbox .p-checkbox-box {
  background-color: white !important; /* bg white */
  border: 1px solid #000 !important; /* black border */
}

::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: white !important; /* checked hone par bhi bg white */
  border: 1px solid #000 !important;
}

::ng-deep .p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: black !important; /* tick black */
}

:host ::ng-deep .p-splitter .p-splitter-gutter {
  background-color: #dfe0e0 !important;
}
