<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '35rem' }" [closable]="true">
  <div class="p-4">
    <div class="flex items-center border-b-2 border-primary mb-6">
      <i class="pi pi-search text-xl mr-3 text-gray-400"></i>
      <input type="text"
        pInputText
        placeholder="Search"
        [(ngModel)]="query"
        (input)="search()"
        class="w-full text-black focus:outline-none focus:ring-0" />
      <i class="pi pi-times text-xl ml-2 cursor-pointer" (click)="closeDialog()"></i>
    </div> 

    <ul *ngIf="results.length > 0" class="text-black">
      <li *ngFor="let task of results" class="p-2 border-b border-gray-200">
        {{ task.text }} <span class="text-sm text-gray-500">({{ task.list }})</span>
      </li>
    </ul>

    <div *ngIf="results.length === 0 && query">
      <span class="text-gray-500">No tasks found</span>
    </div>
  </div>
</p-dialog>
